body {
    margin: 0;
    font-family: "Karla", sans-serif;
    color: rgb(80, 80, 80);
    background-color: rgb(248, 245, 241);
}

header {
    padding: 4px;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(86, 56, 255), rgb(51, 10, 51));
    font-family: "Sarabun", sans-serif;
    text-align: center;
}

.container {
    display: inline;
}

input {
    padding: 10px 65px 10px 15px;
    border: 2px;
    border-radius: 5px;
    background-color: rgb(228, 227, 226);
}

.my-icon {
    margin-left: -80px;
    color: rgb(83, 127, 165);
    padding: 7px;
    border-radius: 5px;
}

.my-icon:hover {
    background-color: rgb(193, 195, 197);
}


.city {
    float: left;
}

.search {
    margin: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(112, 136, 158);
}

.history {
    margin: 15px;
    padding-top: 10px;
}

.weather {
    margin-left: 375px;
}